.logo {
  box-sizing: border-box;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__image {
    width: 130px;
    height: 38px;

    @include tablet {
      width: 187px;
      height: 56px;
    }
  }
}
