.page {
  font-family: "Poppins", sans-serif;
  color: #fff;
  scroll-behavior: smooth;

  &__body {
    margin: 0;

    &--with-menu {
      overflow: hidden;
    }
  }

  &__main {
    background-color: #1d1d1d;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(100%);
    transition: 600ms;

    &:target {
      transform: translateX(0);
    }
  }
}
