.top-actions {
  --icon-width: 18px;

  display: grid;
  grid-template-columns: 1fr var(--icon-width) var(--icon-width);
  column-gap: 24px;
  align-items: center;

  @include tablet {
    --icom-width: 24px;
  }
}
